- load url from future
- load i18n

.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header
      {% trans 'tasking' %}
    %li.active
      %a{'href':"{% url 'tasking_task_index' %}"}
        {% trans 'task' %}

